<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinsol.expensetracker"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".ExpenseTrackerApplication" 
        android:debuggable="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:label="@string/app_name"
            android:name=".Home" 
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
    		>
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".edit.TextEntry"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
    		android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity 
            android:name=".edit.Voice"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
    		android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity 
            android:name=".edit.CameraActivity"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
    		android:windowSoftInputMode="adjustPan|stateAlwaysVisible" 
    		/>
        <activity 
            android:name=".listing.ExpenseListing"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation" 
    		/>
        <activity 
            android:name=".listing.ExpenseSubListing"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation" 
    		/>
        <activity 
            android:name=".listing.FavoriteActivity"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation" 
    		/>
        <activity 
            android:name=".show.ShowVoiceActivity"
        	android:screenOrientation="portrait"
        	android:configChanges="keyboardHidden|orientation" 
        	/>
        <activity 
            android:name=".show.ShowCameraActivity"
        	android:screenOrientation="portrait"
        	android:configChanges="keyboardHidden|orientation" 
        	/>
        <activity 
            android:name=".show.ShowTextActivity"
        	android:screenOrientation="portrait"
        	android:configChanges="keyboardHidden|orientation" 
        	/>
        <activity 
            android:name=".utils.ImagePreview"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation" 
    		/>
        <activity 
            android:name=".cameraservice.CameraPreview"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation" 
    		/>
        <activity 
            android:name=".SetPreferences"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
            />
        <activity 
            android:name=".listing.ExpenseListingThisWeek"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
            />
        <activity 
            android:name=".listing.ExpenseListingThisMonth"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
            />
        <activity 
            android:name=".listing.ExpenseListingThisYear"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
            />
        <activity 
            android:name=".listing.ExpenseListingAll"
    		android:screenOrientation="portrait"
    		android:configChanges="keyboardHidden|orientation"
            />
    </application>
</manifest>